@model DoctorViewModel
@{
    ViewData["Title"] = "ImportExcelFile";
}



<div class=" container">
    <div class="row ">
        <div class="col-6 offset-3 border border-info rounded p-4">
            <form method="post" asp-action="ImportExcelFile" asp-controller="Doctors" enctype="multipart/form-data">
               <div class="form-group">
                   <label> Upload Excel File:</label>
                    <input type="file" asp-for="formFile" name="FormFile" class="form-control" accept=".csv,.xls,.xlsx" />
               </div>  
               <br />
               <input type="submit" class="btn btn-sm btn-primary" value="Upload"/>


            </form>

        </div>
</div>
</div>

